body {
    margin: 0;
    /* Margin means website ki border hum kaise code kar rahe hai */
    font-family: Arial, Helvetica, sans-serif;
    /* Font family means hum kaunse type ke fonts use kar rahe hai apne website ke liye */
  }
  
  .topnav {
    overflow: hidden;
    /* Overflow means jabh hum kaafi data 1 particular shirt space pr [like any box] rakhte hai toh hume scroll ki need hoti hai tabh hum overflow ka use karte hai */
    background-color: #333;
    /* Background color means hamari website ka background kaisa hona chahiye hum "bacxkground-color" ki help se set kar sakte hai */ 
  }
  
  .topnav a {
    float: left;
    /* Hamari webstie ka data kaunse side main rehna chahiye [eg: left, right, centre, etc] hum "float:" use karke set kar sakte hai */
    display: block;
    /* Text data ya phir koi image kaise behave karna chahiye like [ line ke andar,hidden ya phir sabh show ho jaaye] hum "display:" ki help se set krar sakte hai */
    color: #f2f2f2;
    /* Hume hamare data ka colour kya set karna hai hum "color:" ki help se set kar sakte hai */
    text-align: center;
    /* Yeh set karta hai ki inline data right,left ya centre main hona chahiye */
    padding: 14px 16px;
    /* Yeh set karta hai ki text content and website ke border ke beech main kitna difference rakhna hai */
    text-decoration: none;
    /* Text data ke andar hume agar extra decorations karni hai toh hum "text-decoration:" ka use karke decoratons kar sakte hai */
    font-size: 17px;
    /* text data ka size kitna hona chahiye, hum "font-size" ka use karke set kar sakte hai */
  }
  
  .topnav a:hover {
    background-color: #ddd;
    /* Background color means hamari website ka background kaisa hona chahiye hum "bacxkground-color" ki help se set kar sakte hai */ 
    color: black;
    /* Hume hamare data ka colour kya set karna hai hum "color:" ki help se set kar sakte hai */
  }

  .topnav a.active {
    background-color: #04AA6D;
    /* Background color means hamari website ka background kaisa hona chahiye hum "bacxkground-color" ki help se set kar sakte hai */ 
    color: white;
    /* Hume hamare data ka colour kya set karna hai hum "color:" ki help se set kar sakte hai */
  }
  
  .topnav .icon {
    display: none;
    /* Text data ya phir koi image kaise behave karna chahiye like [ line ke andar,hidden ya phir sabh show ho jaaye] hum "display:" ki help se set krar sakte hai */
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      /* Koi content jise hum kisi container ke andar likhte hai toh vo data right ya left main hona chahiye vo "float:" se set kar sakte hai */
      display: block;
      /* Text data ya phir koi image kaise behave karna chahiye like [ line ke andar,hidden ya phir sabh show ho jaaye] hum "display:" ki help se set krar sakte hai */
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      /* Yeh help karta hai ki hamara text data ki positon kaisi honi chahiye & kitni height, breadth honi chahiye */
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      /* Koi content jise hum kisi container ke andar likhte hai toh vo data right ya left main hona chahiye vo "float:" se set kar sakte hai */
      display: block;
      /* Text data ya phir koi image kaise behave karna chahiye like [ line ke andar,hidden ya phir sabh show ho jaaye] hum "display:" ki help se set krar sakte hai */
      text-align: left;
      /* Yeh set karta hai ki inline data right,left ya centre main hona chahiye */
    }
  }

  body {
    font-family: "Lato", sans-serif;
    /* Font family means hum kaunse type ke fonts use kar rahe hai apne website ke liye */
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    
    z-index: 1;
    /* Agar number "+" main aata hai toh text content pic ke peeche chala jaayega & number "-" hai to text content pic ke aage aa jaayega */
    top: 0;
    left: 0;
    background-color: #111;
    /* Background color means hamari website ka background kaisa hona chahiye hum "bacxkground-color" ki help se set kar sakte hai */ 
    overflow-x: hidden;
    /* Overflow means jabh hum kaafi data 1 particular short space pr [like any box] rakhte hai toh hume scroll ki need hoti hai tabh hum overflow ka use karte hai */
    transition: 0.5s;
    /* Yeh help karta hai ki hume kuch element ko animate kar sakte hai */
    padding-top: 60px;
    /* Yeh set karta hai ki text content and website ke border ke beech main kitna difference rakhna hai. Yhe sirf top side ke liye use hota hai */
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    /* Yeh set karta hai ki text content and website ke border ke beech main kitna difference rakhna hai */
    text-decoration: none;
    /* Text data ke andar hume agar extra decorations karni hai toh hum "text-decoration:" ka use karke decoratons kar sakte hai */
    font-size: 25px;
    /* text data ka size kitna hona chahiye, hum "font-size" ka use karke set kar sakte hai */
    color: #818181;
    /* Hume hamare data ka colour kya set karna hai hum "color:" ki help se set kar sakte hai */
    display: block;
    /* Text data ya phir koi image kaise behave karna chahiye like [ line ke andar,hidden ya phir sabh show ho jaaye] hum "display:" ki help se set krar sakte hai */
    transition: 0.3s;
    /* Yeh help karta hai ki hume kuch element ko animate kar sakte hai */
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    /* Hume hamare data ka colour kya set karna hai hum "color:" ki help se set kar sakte hai */
  }
  
  .sidenav .closebtn {
    position: absolute;
    /* Yeh help karta hai ki hamara text data ki positon kaisi honi chahiye & kitni height, breadth honi chahiye */
    top: 0;
    right: 25px;
    font-size: 36px;
    /* text data ka size kitna hona chahiye, hum "font-size" ka use karke set kar sakte hai */
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }